<h1 align="center"><font size = 5>IBM Data Science Week 3 Assignment - Kalirajan Natarajan</font></h1>
<h1><font size = 5>Toronto's Neighborhood Segmentation and Clustering</font></h1>
<h3><font size = 3>This notebook contains the submission for second section</font></h3>
<li>Continuing from section 1</li>
<li>Reading the Geo coordinates from the link https://cocl.us/Geospatial_data</li>
<li>Create a new data frame using merge operation </li>

<h3>Step 1: Install the necessary packages</h3>
<h5>lxml package is required to read HTML using Pandas</h5>

In [2]:
get_ipython().system(u' pip install --upgrade pip')
!pip install lxml
import pandas as pd
import numpy as np

Collecting pip
  Downloading https://files.pythonhosted.org/packages/54/2e/df11ea7e23e7e761d484ed3740285a34e38548cf2bad2bed3dd5768ec8b9/pip-20.1-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 6.1MB/s eta 0:00:01     |██████████▋                     | 491kB 6.1MB/s eta 0:00:01     |██████████████████              | 839kB 6.1MB/s eta 0:00:01     |█████████████████████████████▌  | 1.4MB 6.1MB/s eta 0:00:01
Installing collected packages: pip
  Found existing installation: pip 19.1.1
    Uninstalling pip-19.1.1:
      Successfully uninstalled pip-19.1.1
Successfully installed pip-20.1
Collecting lxml
  Downloading lxml-4.5.0-cp36-cp36m-manylinux1_x86_64.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 4.8 MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.0

<h3>Using pandas read the wikipedia page</h3>
<p>Output of read_html is a list of dataframes consisting html tables in the Wikipedia page</p>

In [3]:
df_list = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

<p>First element from the list is the postal codes</p>

In [4]:
postalcode_df = df_list[0]
postalcode_df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<p>Check the shape of the dataframe</p>

In [7]:
postalcode_df.shape

(180, 3)

<li>Replace values Not assigned to Numpy NaN</li>
<li>Drop Non value items</li>
<li>Reset Index</li>
<li>Shape of the dataframe</li>
<p>Note: Wikipedia doesn't have any duplicates of the Postal Codes and hence grouping is not attempted here</p>

In [5]:
postalcode_df.replace('Not assigned', np.NaN, inplace=True)
postalcode_df.dropna(subset=["Borough"],axis=0, inplace=True)
postalcode_df.reset_index(drop=True, inplace=True)
postalcode_df.shape

(103, 3)

<h1>Section 2: Read latitude longitude of postal codes</h1>
<li> Read Geospatial CSV from https://cocl.us/Geospatial_data </li>
<li> Use Pandas merge to combine PostalCode dataframe and Geo Dataframe</li>

In [6]:
geo_df = pd.read_csv("https://cocl.us/Geospatial_data")

In [7]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
merged_df = pd.merge(postalcode_df, geo_df, on="Postal Code", how="inner")

In [9]:
merged_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494